<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI_Automation">
    <test name="Registration">
        <classes>
            <!-- Specify your test classes here -->
          <!-- <class name="org.example.test_scenarios.RegistrationTest"/>
            <class name="org.example.test_scenarios.LoginTest"/>
            <class name="org.example.test_scenarios.DynamicElementsTest"/> -->
             <class name="org.example.test_scenarios.BrokenLinksTest"/>
        </classes>
    </test>
</suite>
