<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI_Automation">
    <test name="Registration">
        <classes>
            <!-- Specify your test classes here -->
           <class name="org.example.login.RegistrationTest"/>
            <class name="org.example.login.LoginTest"/>
        </classes>
    </test>
</suite>
